@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 200px !important;
  max-width: 1000px !important;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style-type: none;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
}

.page-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: green;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
